{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container w-50 border round p-4">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>
    {{ form_start(registrationFormPatient) }}
        {{ form_row(registrationFormPatient.nom) }}
        {{ form_row(registrationFormPatient.prenom) }}
        {{ form_row(registrationFormPatient.dateInscription) }}
        {{ form_row(registrationFormPatient.email) }}
        {{ form_row(registrationFormPatient.telephone) }}
        {{ form_row(registrationFormPatient.password) }}
    <div class="text-center">    
        <button type="submit" class="btn btn-lg btn-primary w-50">Inscription</button>
    </div>

    {{ form_end(registrationFormPatient) }}

</div>

{% endblock %}
